.app-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0;
}

.header {
    background-color: #60f8f1;
    color: white;
    padding: 20px;
}

.content {
    padding: 20px;
}

.footer {
    background-color: #222;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}